<section class="main__page--content slider">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="hero-img__container">
          <div class="img__container">
            <img src="../../assets/img/banner-laptop.png" />
          </div>
          <div class="form__banner">
            <h1>Workforce Registry System</h1>
            <p>
              Nullam faucibus lobortis nisi nec porta. Phasellus gravida leo tortor, eu feugiat enim elementum ac ras tincidunt,
              leo vel posuere fermentum, nunc tortor congue tortor.
            </p>
            <form class="user-form">
              <div class="form-group">
                <input type="text" class="form-control" id="full-name" placeholder="Full Name">
              </div>
              <div class="form-group">
                <input type="mail" class="form-control" id="email" placeholder="Email Address">
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-success mb-2">Start My Free Trial</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main__page--content features">
  <div class="container">
    <header>
      <h1>Optimize Your Business Management</h1>
    </header>
    <div class="row features-lists">
      <div class="col-sm">
        <div class="feature-card">
          <img src="../../assets/img/profile-management.png" />
          <h3>Extensible Profile Management</h3>
          <p>Vestibulum et rhoncus nisi, vitae consequat lorem. Donec ante orci, finibus ac dui nec, tristique dictum felis.</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="feature-card">
          <img src="../../assets/img/employe-relationship.png" />
          <h3>Employee Search Facility</h3>
          <p>Vestibulum et rhoncus nisi, vitae consequat lorem. Donec ante orci, finibus ac dui nec, tristique dictum felis.</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="feature-card">
          <img src="../../assets/img/organisation-structure.png" />
          <h3>Employee Search Facility</h3>
          <p>Vestibulum et rhoncus nisi, vitae consequat lorem. Donec ante orci, finibus ac dui nec, tristique dictum felis.</p>
        </div>
      </div>
    </div>
    <div class="row features-lists">
      <div class="col-sm">
        <div class="feature-card">
          <img src="../../assets/img/employe-relationship.png" />
          <h3>Inter Employee Relationships </h3>
          <p>Vestibulum et rhoncus nisi, vitae consequat lorem. Donec ante orci, finibus ac dui nec, tristique dictum felis.</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="feature-card">
          <img src="../../assets/img/resume-generation.png" />
          <h3>Resume Generation</h3>
          <p>Vestibulum et rhoncus nisi, vitae consequat lorem. Donec ante orci, finibus ac dui nec, tristique dictum felis.</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="feature-card">
          <img src="../../assets/img/report-generation.png" />
          <h3>Report Generation</h3>
          <p>Vestibulum et rhoncus nisi, vitae consequat lorem. Donec ante orci, finibus ac dui nec, tristique dictum felis.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-success product__demobtn">TAKE A FULL PRODUCT DEMO</button>
    </div>
  </div>
</section>
<section class="main__page--content testimonials">
  <div id="testimonial__carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#testimonial__carousel" data-slide-to="0" class="active"></li>
      <li data-target="#testimonial__carousel" data-slide-to="1"></li>
      <li data-target="#testimonial__carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="top-bar">
        </div>
        <h1 class="testimonials-header">Testimonials</h1>
        <div class="img_holder">
          <div class="img-inner__holder">
            <img src="../../assets/img/testimonial-1.png" />
          </div>
        </div>
        <p class="testimonial-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet sodales nunc. Donec vehicula, tellus id egestas
          luctus, metus est interdum ligula, at sodales nibh nulla a enim. Vivamus vel finibus lacus. Maecenas maximus dui
          nec sapien porta porttitor. Fusce lacinia augue sed convallis fringilla. Quisque libero lectus,
        </p>
      </div>
      <div class="carousel-item">
        <div class="top-bar">
        </div>
        <h1 class="testimonials-header">Testimonials</h1>
        <div class="img_holder">
          <div class="img-inner__holder">
            <img src="../../assets/img/testimonial-1.png" />
          </div>
        </div>
        <p class="testimonial-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet sodales nunc. Donec vehicula, tellus id egestas
          luctus, metus est interdum ligula, at sodales nibh nulla a enim. Vivamus vel finibus lacus. Maecenas maximus dui
          nec sapien porta porttitor. Fusce lacinia augue sed convallis fringilla. Quisque libero lectus,
        </p>
      </div>
      <div class="carousel-item">
        <div class="top-bar">
        </div>
        <h1 class="testimonials-header">Testimonials</h1>
        <div class="img_holder">
          <div class="img-inner__holder">
            <img src="../../assets/img/testimonial-1.png" />
          </div>
        </div>
        <p class="testimonial-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet sodales nunc. Donec vehicula, tellus id egestas
          luctus, metus est interdum ligula, at sodales nibh nulla a enim. Vivamus vel finibus lacus. Maecenas maximus dui
          nec sapien porta porttitor. Fusce lacinia augue sed convallis fringilla. Quisque libero lectus,
        </p>
      </div>
    </div>
    <a class="carousel-control-prev" data-target="#testimonial__carousel" href="#" role="button" ng-non-bindable data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" data-target="#testimonial__carousel" href="#" role="button" ng-non-bindable data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<section class="main__page--content mobility">
  <div class="container">
    <header>
      <h1>Optimize Your Business Management</h1>
    </header>
    <figure>
      <img src="../../assets/img/mobility-img.png" />
    </figure>
    <button class="btn btn-success product__demobtn">Learn More</button>
  </div>
</section>
