<div class="input-group col-sm-6 col-lg-6 p-0">
  <div class="input-group-prepend">
    <i class="fas fa-search"></i>
  </div>
  <input class="form-control search" type="text">
</div>
<table class="table table-bordered ">
  <thead>
    <tr>
      <th style="width:50%" class="text-center" colspan="2">Performance Group</th>
      <th colspan="2">Member 1 <i class="fa fa-info-circle"></i></th>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th class="text-dark" colspan="2">Email ID: {{user.email}}
        <br>DOJ: {{user.doj | date:'dd/mm/yyyy'}}</th>
    </tr>
    <tr class="text-center">
      <th>Project Performance</th>
      <th>Description</th>
      <th>{{user.name}}</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Was the quality of the project deliverables produced by the individual of the required standard?
      </td>
      <td>
        Code, test cases, test scripts, design document, requirements document,user stories etc.
      </td>
      <td class="p-0 m-0">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
            <option disabled=true>Select an option</option>
            <option *ngFor="let rating of ratingList">{{rating.name}} / {{rating.percentage}}%</option>
          </select>
        </div>
      </td>
      <td class="group_btn p-0">
        <textarea class="form-control" placeholder="Comments..." rows="2"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        Did the individual complete assigned project tasks as per given timelines?
      </td>
      <td>
        Applying efforts to complete work on committed timelines.
      </td>
      <td class="p-0 m-0">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
              <option disabled=true>Select an option</option>
              <option *ngFor="let rating of ratingList">{{rating.name}} / {{rating.percentage}}%</option>
          </select>
        </div>
      </td>
      <td class="group_btn p-0">
        <textarea class="form-control" placeholder="Comments..." rows="2"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        Has Individual adhered with defined project / organisation processes?
      </td>
      <td>
        regular updates on project / tasks tracking tools, timesheets, attendance, performance review
      </td>
      <td class="p-0 m-0">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
              <option disabled=true>Select an option</option>
              <option *ngFor="let rating of ratingList">{{rating.name}} / {{rating.percentage}}%</option>
          </select>
        </div>
      </td>
      <td class="group_btn p-0">
        <textarea class="form-control" placeholder="Comments..." rows="2"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        Did the individual take the complete responsibility and accountability for the tasks assigned to him,
        and ensured that the same were completed successfully?
      </td>
      <td>
        Taking ownership and responsibility of tasks. Does not need regular monitoring, and escalates
        risks/issues proactively
      </td>
      <td class="p-0 m-0">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
              <option disabled=true>Select an option</option>
              <option *ngFor="let rating of ratingList">{{rating.name}} / {{rating.percentage}}%</option>
          </select>
        </div>
      </td>
      <td class="group_btn p-0">
        <textarea class="form-control" placeholder="Comments..." rows="2"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        How satisfied is the customer with the individual's performance?

      </td>
      <td>
        Appreciation from customer,Team is appreciated for his contribution, Value added efforts/work in
        project
      </td>
      <td class="p-0 m-0">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
              <option disabled=true>Select an option</option>
              <option *ngFor="let rating of ratingList">{{rating.name}} / {{rating.percentage}}%</option>
          </select>
        </div>
      </td>
      <td class="group_btn p-0">
        <textarea class="form-control" placeholder="Comments..." rows="2"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        Did the individual exhibit the required understanding and empathy for customer's needs and concerns?
        Did he take the criticism/flak from the customer in the right spirit?

      </td>
      <td>
        What is his sensitivity towards the customer? Does he understand that our business is because of the
        customer?
      </td>
      <td class="p-0 m-0">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
              <option disabled=true>Select an option</option>
              <option *ngFor="let rating of ratingList">{{rating.name}} / {{rating.percentage}}%</option>
          </select>
        </div>
      </td>
      <td class="group_btn p-0">
        <textarea class="form-control" placeholder="Comments..." rows="2"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        Is team(not team lead) satisfied with individual performance?
      </td>
      <td>
        Transparency within team, team spirit, responsiveness to team, mentoring and support to team members
      </td>
      <td class="p-0 m-0">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
              <option disabled=true>Select an option</option>
              <option *ngFor="let rating of ratingList">{{rating.name}} / {{rating.percentage}}%</option>
          </select>
        </div>
      </td>
      <td class="group_btn p-0">
        <textarea class="form-control" placeholder="Comments..." rows="2"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        Has the individual improved his project knowledge and is at the desired level?
      </td>
      <td>
        Technology, process, technical architecture, solution design, domain etc.
      </td>
      <td class="p-0 m-0">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
              <option disabled=true>Select an option</option>
              <option *ngFor="let rating of ratingList">{{rating.name}} / {{rating.percentage}}%</option>
          </select>
        </div>
      </td>
      <td class="group_btn p-0">
        <textarea class="form-control" placeholder="Comments..." rows="2"></textarea>
      </td>
    </tr>

  </tbody>
</table>