/* :host >>> .ui-tabview {
    padding: 0;
}

:host >>> .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a, .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active a, .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active a, .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active a
{
    background: #D5E7FF;
    color: #177dfb;
}

/* :host >>> .ui-tabview.ui-tabview-top .ui-tabview-nav li a, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a, body .ui-tabview.ui-tabview-left .ui-tabview-nav li a, body .ui-tabview.ui-tabview-right .ui-tabview-nav li a 
{
    padding: 1rem;
} */

:host >>> .ui-tabview .ui-tabview-panels {
    padding: 0px;
    border: none;
}




:host >>> .ui-tabview li {
    border: 0;
    margin: 0;
    text-align: center;
    padding: 12px;
    font-size: 13px;
    border-right: 1px solid #fff;
    width: 33.10%;
    text-align: center;
}

:host >>> body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active
{
    background: #D5E7FF;
    color: #177dfb;
} 