:host >>> .ui-tabview .ui-tabview-panels {
    padding: 0px;
    border: none;
}

:host >>> .ui-tabview-nav {
    flex-direction: row;
    width: 100%;
    background: #f1f1f1;
    display: flex;
}
:host >>> .ui-tabview.ui-tabview-top .ui-tabview-nav li{
    border: 0;
    margin: 0 2px 5px 0;
    width: 33.33%;
    text-align: center;
}
:host >>> .ui-tabview-title{
    padding: 1rem 0;
    display: inline-block;
    color: #656565;
}
:host >>> .ui-tabview.ui-tabview-top .ui-tabview-nav li a{
    color: #656565;
    padding: 0em 1em;
}
.indicator-table li:last-child {
    border-right: none;
}
:host >>> .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active{
    text-decoration: none;
    background: #d5e7ff;
    border: 0;
}
:host >>> .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover{
    border: 0;
    background: #d5e7ff;
}
:host >>> .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:focus{
    outline : none;
    background: #d5e7ff;
}
:host >>> .ui-corner-top {
    border-radius: 0;
}

:host >>> .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover {
    text-decoration: none;
    background: #D5E7FF;
    outline: none;
    border: none;
}